* {
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #74ebd5, #9face6);
}

.weather-app {
    background: white;
    width: 380px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.search-box button {
    background: #4facfe;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.weather-card {
    text-align: center;
}

.weather-card img {
    width: 90px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.details div {
    width: 48%;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

#map {
    height: 200px;
    border-radius: 10px;
    margin-top: 15px;
}

.hidden {
    display: none;
}

/* DARK MODE */
body.dark {
    background: linear-gradient(to right, #141e30, #243b55);
}

body.dark .weather-app {
    background: #1f2933;
    color: white;
}

body.dark .details div,
body.dark input {
    background: #374151;
    color: white;
}
